*{
    /* box-sizing: border-box; */
    left:0;
    top:0;
}
body{
    background-image: linear-gradient(to right,black 0% 50%,white 50% 100%);
}

.loader{
    position: absolute;
    height: 100vh;
    width:100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loadermain{
    width: 100px;
    height:10px;
    background-color: white;
    animation: animate2 2s ease-in-out 1s infinite;
}

@keyframes animate2 {
    0%{
        height:10px;
    }
    20%{
        height:100px;
    }
    40%{
        width:10px;

    }
    60%{
        height:10px;
    }
    80%{
        width:100px;
    }
    100%{
        height:10px;
    }
}


.name{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 0px 10px;
    margin-left:50% ;
    position:absolute;
    top:0;
    color: black;
}

.zone{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 0px 10px;
    position:absolute;
    margin-left: calc(50% - 115px);
    top:0;
    color: white;
}
.date{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    display: grid;
    grid-template-areas:"guide guide"
                        "sdate edate";
    border-radius: 30px;
    width: 60%;
    height: 30vh;
    margin: 100px auto 0px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #888888;
}

.guide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-image:radial-gradient(white,black); */
    background-color: #888888;
    background-image: linear-gradient(270deg,rgba(0, 0, 0, 0.456),rgba(255, 255, 255, 0.529));
    font-size: 1.2rem;
    grid-area: guide;
    text-align: center;
}

.guide>a{
    color: red;
}

.sdate{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sdate;
    background-color: white;
}
.edate{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: edate;
    background-color: black;
    color: white;
}

#st_date{
    border-style: none;
    font-size: 1.2rem;
}

#ed_date{
    filter: invert(100%);
    border-style: none;
    font-size: 1.2rem;
}

.butsec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.butsec>span{
    margin: 0px 10px;
}

.butsec input{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

#reset{
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    color: black;
}
#reset:hover{
    background-color: black;
    color: white;
    border-color: white;
}
#search:hover{
    background-color: white;
    color: black;
    border-color: grey;
}


#search{
    cursor: pointer;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.postload{
    width: 74vw;
    margin: 50px auto 0px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto ;
}

.postload>span{
    width: 37vw;
    height: 37vw;
    margin: auto;
    text-align: center;
}

.postload>span>a>span{
    font-weight: 900;
}

.icount{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    width: max-content;
    margin: 100px auto 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg,rgb(59, 59, 59),rgba(255, 255, 255));
    border-radius: 20px;
    padding: 5px;
}

.targets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.targets>a{
    margin: 5px;
}

.hf1{
    background-color: black;
    color: white;
}
.hf2{
    color: black;
    background-color: white;
}

@media only screen and (max-width: 760px) {
    .date{
        height: 40vh;
        width:90%;
        display: flex;
        flex-direction: column;
    }
    .guide{
        flex-grow: 1;
        padding: 10px;
    }
    .sdate,.edate{
        flex-grow: 0.5;
    }
}

@media only screen and (max-width: 650px) {
    .postload>span{
        width:45vw;
        height: 80vw;
    }
    .postload{
        width: 90vw;
    }
}